* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #000;
}

html body i {
    cursor: pointer;
}

#main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar {
    background-color: #000000;
    overflow: auto;
    width: 20vw;
    border-radius: 1rem;
    margin-right: 0.5rem;
}

.main-content {
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    /*16px*/
    overflow: auto;
    padding: 0 1.5rem 0 1.5rem;
    height: 88%;
}

a {
    text-decoration: none;
}

.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    display: flex;
    transition: all 0.2s linear;
    padding: 0.5rem 0.75rem;
    align-items: center;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25vw;
}

.nav-option a {
    font-size: 1.2vw;
    margin-left: 1rem;
}

.library {
    height: 590px;
    background-color: #121212;
    border-radius: 1rem;
    margin-top: 0.5rem;
    padding: 0.5rem 0.75rem;
}

.lib-option img {
    width: 1.25rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 10px;
    display: flex;
}

.icon i {
    opacity: 0.7;
    margin-right: 1rem;
}

.dark-badge i {
    font-size: 10px;
}

.dark-badge span {
    font-size: 10px;
}

.icon i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    border-radius: 0.75rem;
    margin: 1.2vw 0 0.70vw 0;
    padding: 0.75rem 1rem;
}

.box-p1 {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}

.box-p2 {
    font-size: 9px;
    opacity: 0.9;
    line-height: 20px;
}

.badge {
    background-color: #fff;
    border: none;
    border-radius: 100px;
    color: black;
    padding: 0.25rem 1rem;
    font-weight: 600;
    margin-top: 0.5rem;
    font-size: 1vw;
    width: fit-content;
}

.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: #121212;
    align-items: center;
    padding: 1rem 0 1rem;
}

.sticky-nav-option i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #a4a4a4;
}

.sticky-nav-option {
    margin-left: 0.75rem;
}

.stick-nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    margin-right: 1.5rem;
}

.dark-badge {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
}

.card {
    display: inline-block;
    background-color: #171717;
    width: 200px;
    border-radius: 0.5rem;
    padding: 1rem;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}


.card-img-icon{
    display: flex;
    flex-direction: column;
}

.card-img-icon i{
    color: #1FDF64;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.card-container {
    display: flex;
    /* flex-wrap: wrap;  */
    /* white-space: nowrap; */
    overflow-x: auto;
    overflow-y: hidden;
}

.card img {
    height: 165px;
    border-radius: 0.5rem;

}

.card .card-titel {
    padding: 0 10px;
    line-height: 2rem;
    font-weight: 700;
}

.card .card-info {
    opacity: 0.75;
    font-size: 8px;
}

.card:hover {
    background-color: #232323;
}

.cards h2 {
    line-height: 4rem;
}

#footer {
    height: 300px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.footer-nav {
    display: flex;
    margin-top: 3rem;
    /* width: 622px; */
    gap: 40px;
    margin-left: 33px;
}

.footer-nav h4 {
    line-height: 20px;
}

.footer-nav li {
    list-style: none;
    opacity: 0.5;
    line-height: 1.75rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.footer-nav li:hover {
    opacity: 1;
    text-decoration: underline;
}

#social {
    display: flex;
    margin-left: 150px;
    font-size: 20px;
    width: 200px;
    margin-bottom: 87px;
    justify-content: space-around;
}

#social i {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background-color: #242424;
    border-radius: 50%;
}

#social i:hover {
    background-color: #727272;
}

.line {
    border-bottom: 1px solid #fff;
    opacity: 0.2;
}

#nav-link ul {
    display: flex;
    gap: 3vw;
    align-items: center;
    margin-left: 2rem;
    height: 200px;
}

#nav-link ul li {
    opacity: 0.5;
    list-style: none;
}

#nav-link ul h5 {
    margin-left: auto;
    opacity: 0.5;
}

#nav-link ul li:hover {
    opacity: 1;
    cursor: pointer;
}

.music-player {
    background-color: #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
}

.album {
    margin-left: 0.5vw;
    display: flex;
    align-items: center;
    width: 25%;
    /* background-color: pink; */
}

.album img {
    width: 3.5vw;
    border-radius: 5px;
    /* height: 8vh; */
}

.album .play-text {
    margin-left: 1vw;
}

.album .play-text h5 {
    font-size: 10px;
}

.album p {
    font-size: 7px;
    opacity: 0.5;
}

.player {
    /* margin-left: 25vw; */
    width: 46%;
    /* background-color: rgb(34, 12, 228); */
}

.player-controls {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}

.player .player-controls i {
    opacity: 0.5;
    font-size: 20px;
    margin-right: 2vw;
}

.player .player-controls .play {
    opacity: 1;
    font-size: 30px;
}

.player .player-controls .fa-pause {
    opacity: 1;
    font-size: 20px;
}

.player .player-controls i:hover {
    opacity: 1;
}

.controls {
    display: flex;
    align-items: center;
    width: 25%;
    height: 50px;
    /* background-color: rgb(141, 219, 14); */
}

.controls img:nth-child(1) {
    width: 28px;
}

.controls img:nth-child(2) {
    margin-left: 5px;
    width: 24px;
}

.controls img:nth-child(3) {
    width: 33px;
}

.controls img:nth-child(4) {
    width: 31px;
}

.controls img:nth-child(5) {
    width: 33px;
}

.controls input:nth-child(6) {
    margin-left: 10px;
}

.controls img:nth-child(7) {
    margin-left: 10px;
}

.controls img:hover {
    cursor: pointer;
}

.playback-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.playback-bar span {
    opacity: 0.5;
    font-size: 10px;
    padding: 10px;
}

#sound {
    width: 30%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

#sound::-webkit-slider-runnable-track {
    background-color: #4D4D4D;
    border-radius: 100px;
    height: 0.3vw;
}

#sound::-webkit-slider-thumb {
    appearance: none;
    width: 0.7vw;
    height: 0.7vw;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -0.2vw;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #4D4D4D;
    border-radius: 100px;
    height: 0.3vw;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    width: 0.7vw;
    height: 0.7vw;
    background-color: #fff;
    border-radius: 50%;
    margin-top: -0.2vw;
}

.fa-heart {
    color: rgb(196, 196, 196);
}

#green_heart {
    display: none;
    width: 10px;
    height: 20px;
}

#none {
    display: none;
}

.ani {
    animation: love 0.5s linear;
    position: relative;
}

@keyframes love {
    0% {
        bottom: 20px;
    }

    100% {
        bottom: 0;
    }
}

#view {
    display: block;
}





/*MediaQuary*/

@media (max-width: 1000px) {
    .hide {
        display: none;
    }

    #hide {
        display: none;
    }

    .footer-nav h4 {
        font-size: 2vw;
    }

    .footer-nav li {
        font-size: 1.7vw;
    }
   
    #nav-link ul li{
        font-size: 1.1vw;
    }

    #nav-link ul h5{
        font-size: 8px;
    }
}

@media (max-width: 640px) {
    .sidebar {
        display: none;
    }

    .card {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 35vw;
        display: flex;
    }

    .card .card-info {
        padding: 0 10px;
    }

    .card img {
        width: 25vw;
    }

    .controls {
        display: none;
    }

    .album {
        width: 43%;
    }

    #social{
        display: none;
    }

    #footer{
        justify-content: center;
    }

    .footer-nav {
        gap: 10vw;
    }
}

@media (max-width: 900px) {
    .controls input:nth-child(6) {
        display: none;
    }

    #social{
        margin-left: 0;
    }
}