#playlistbar{
    margin-top: 20px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.topBox{
    display: flex;
    align-items: end;
}

.topBox img{
    width: 220px;
}

.topBox h3{
    display: inline-block;
}

.playlist-text{
    margin-left: 20px;
}

.playlist-text .opacity{
    font-size: 12px;
    opacity: 0.5;
}

.playlist-text h1{
    font-size: 50px;
}

.playlist-text .owner-info{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2px;
}

.owner-info img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.owner-info h4{
    font-size: 13px;
}

.owner-info span{
    font-size: 15px;
}

#playList{
    height: 60px;
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}

.logo i:nth-child(1){
    width: 40px;
    color: #1FDF64;
    font-size: 35px;
}
.logo i:nth-child(2){
    width: 40px;
    color: #ffffff;
    font-size: 30px;
    opacity: 0.5;
}
.logo i:nth-child(3){
    width: 40px;
    color: #ffffff;
    font-size: 30px;
    opacity: 0.5;
}

.logo i:nth-child(1):hover{
    font-size: 37px;
}

.logo i:nth-child(2):hover{
    opacity: 1;
}

.logo i:nth-child(3):hover{
    opacity: 1;
}