#playlistbar {
    margin-top: 20px;
    display: flex;
}

.topBox {
    display: flex;
    align-items: flex-start;
}

.topBox img {
    width: 150px;
}

.topBox h3 {
    display: inline-block;
}

.playlist-text {
    margin-left: 20px;
}

.playlist-text .opacity {
    font-size: 10px;
    opacity: 0.5;
}

.playlist-text h1 {
    font-size: 5vw;
}

.playlist-text .owner-info {
    display: flex;
    align-items: center;
    gap: 4px;
}

.owner-info img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.owner-info h4 {
    font-size: 13px;
}

.owner-info span {
    font-size: 10px;
}

#playList {
    height: 60px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo .album2 {
    display: flex;
}

.logo .album2 .play-text2 {
    margin-left: 10px;
}

.logo i:nth-child(1) {
    width: 40px;
    color: #1FDF64;
    font-size: 35px;
}

.logo i:nth-child(2) {
    width: 40px;
    color: #ffffff;
    font-size: 30px;
    opacity: 0.5;
}

.logo i:nth-child(3) {
    width: 40px;
    color: #ffffff;
    font-size: 30px;
    opacity: 0.5;
}

.logo i:nth-child(1):hover {
    font-size: 37px;
}

.logo i:nth-child(2):hover {
    opacity: 1;
}

.logo i:nth-child(3):hover {
    opacity: 1;
}

.list-id {
    height: 50px;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0.5;
}

.main {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#songList {
    height: 60px;
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s linear;
}

#songList:hover {
    background-color: #212121;

    .songNumbe {
        display: none;
    }

    .logo i {
        opacity: 1;
    }
}

#songList .songNumbe {
    font-size: 10px;
    font-variant-numeric: tabular-nums;
}

#songList .logo img {
    width: 35px;
}

#songList .logo {
    padding: 20px;
}

#songList .logo p {
    font-size: 10px;
}

#songList .SongName {
    font-size: 12px;
}

#songList .addDate {
    font-size: 12px;
}

#songList .songDuration {
    font-size: 12px;
}

#songList .logo i {
    font-size: 10px;
    opacity: 0;
}

.list-id p {
    font-size: 10px;
}







/* media */

@media (max-width: 600px) {
    #songList .logo p {
        font-size: 1.5vw;
    }

    #songList .SongName{
        font-size: 1.3vw;
    }
    
    #songList .addDate{
        margin-left: 3px;
        font-size: 1.5vw;
    }

    #songList .songDuration{
        margin-left: 3px;
        font-size: 1.5vw;
    }

    #songList .logo {
        padding: 0;
    }
    
    .logo i {
        display: none;
    }
}